<nav class="container navbar navbar-expand-lg navbar-light bg-light mt-2 p-3">
  <div class="container-fluid">
    <img class="rounded shadow" src="{{ asset('build/images/logo.jpg') }}" height="45" alt="Boodiz" loading="lazy" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ms-5 collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active me-5" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <form action="">
            <select class="form-select" aria-label="Liste des catégories">
                <option selected>Liste des catégories</option>
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
          </form>
        </li>
      </ul>
      <span class="navbar-text">
        {% if app.user %}
            <span class="my-auto me-3 text-black text-decoration-none">Bonjour {{ app.user.username }}</span>
            {% if is_granted('ROLE_ADMIN') %}
              <a class="bg-primary p-3 rounded my-auto me-3 text-decoration-none text-white letter-spacing" href="#">Administration</a>
            {% endif %}
            <a class="bg-primary p-3 rounded my-auto me-3 text-decoration-none text-white letter-spacing" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a class="bg-primary p-3 rounded my-auto me-3 text-decoration-none text-white letter-spacing" href="{{ path('app_login') }}">Connexion</a>
            <a class="bg-primary p-3 rounded my-auto me-3 text-decoration-none text-white letter-spacing" href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
      </span>
    </div>
  </div>
</nav>
